<config>
  <engine>
    <title>My platformer game</title>
    <maxFrameDuration value="16"/>
  </engine>

  <render>
    <vsync value="false"/>
  </render>

  <window>
    <resolution width="1920" height="1080" scale="4"/>
    <fullscreen value="true"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="true"/>
  </window>
</config>