<?xml version="1.0"?>
<config>
	<engine>
		<title>Game Jam</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1920" height="1080" scale="4" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="true" />
	</window>
	<scene>
		<levels>
			<map path="Assets/Maps/" name="Level0.tmx" number="0" ix="73" iy="232" />
		</levels>
		<audio>
			<audioBow path="Assets/Audio/Fx/Bow Attack 2.ogg" />
			<audioBowHit path="Assets/Audio/Fx/Bow Impact Hit 3.ogg" />
			<jumpPlayer path="Assets/Audio/Fx/Dirt Jump.ogg" />
			<fireball path="Assets/Audio/Fx/Fireball 2.ogg" />
			<spiderDeath path="Assets/Audio/Fx/mine 3.ogg" />
			<sword path="Assets/Audio/Fx/Sword Attack 1.ogg" />
		</audio>
		<entities>
			<player dx="52" dy="175" dlevel="1" ix="89" iy="264" w="16" h="16" texture="Assets/Textures/playerAnimations.png">
				<animations>
					<idle loop="true" speed="0.06">
						<frame x="0" y="0" w="16" h="16" />
						<frame x="16" y="0" w="16" h="16" />
					</idle>
					<run loop="true" speed="0.05">
						<frame x="0" y="64" w="16" h="16" />
						<frame x="16" y="64" w="16" h="16" />
						<frame x="32" y="64" w="16" h="16" />
						<frame x="48" y="64" w="16" h="16" />
						<frame x="64" y="64" w="16" h="16" />
						<frame x="80" y="64" w="16" h="16" />
						<frame x="96" y="64" w="16" h="16" />
						<frame x="112" y="64" w="16" h="16" />
						<frame x="128" y="64" w="16" h="16" />
					</run>
					<shoot loop="false" speed="0.30">
						<frame x="0" y="80" w="16" h="16" />
						<frame x="16" y="80" w="16" h="16" />
						<frame x="32" y="80" w="16" h="16" />
						<frame x="48" y="80" w="16" h="16" />
						<frame x="64" y="80" w="16" h="16" />
						<frame x="80" y="80" w="16" h="16" />
						<frame x="96" y="80" w="16" h="16" />
						<frame x="112" y="80" w="16" h="16" />
						<frame x="128" y="80" w="16" h="16" />
						<frame x="144" y="80" w="16" h="16" />
						<frame x="160" y="80" w="16" h="16" />
						<frame x="176" y="80" w="16" h="16" />
						<frame x="192" y="80" w="16" h="16" />
					</shoot>
					<jump loop="false" speed="0.30">
						<frame x="0" y="96" w="16" h="16" />
						<frame x="16" y="96" w="16" h="16" />
						<frame x="32" y="96" w="16" h="16" />
						<frame x="48" y="96" w="16" h="16" />
						<frame x="64" y="96" w="16" h="16" />
						<frame x="80" y="96" w="16" h="16" />
						<frame x="96" y="96" w="16" h="16" />
						<frame x="112" y="96" w="16" h="16" />
						<frame x="128" y="96" w="16" h="16" />
						<frame x="144" y="96" w="16" h="16" />
						<frame x="160" y="96" w="16" h="16" />
						<frame x="176" y="96" w="16" h="16" />
						<frame x="192" y="96" w="16" h="16" />
					</jump>
					<dmg loop="false" speed="0.12">
						<frame x="0" y="16" w="16" h="16" />
						<frame x="16" y="16" w="16" h="16" />
						<frame x="32" y="16" w="16" h="16" />
					</dmg>
					<die loop="false" speed="0.12">
						<frame x="0" y="48" w="16" h="16" />
						<frame x="16" y="48" w="16" h="16" />
						<frame x="32" y="48" w="16" h="16" />
						<frame x="48" y="48" w="16" h="16" />
						<frame x="64" y="48" w="16" h="16" />
						<frame x="80" y="48" w="16" h="16" />
						<frame x="96" y="48" w="16" h="16" />
						<frame x="112" y="48" w="16" h="16" />
						<frame x="128" y="48" w="16" h="16" />
						<frame x="144" y="48" w="16" h="16" />
						<frame x="160" y="48" w="16" h="16" />
						<frame x="176" y="48" w="16" h="16" />
						<frame x="192" y="48" w="16" h="16" />
					</die>
					<respawn loop ="false" speed="0.12">
						<frame x="0" y="32" w="16" h="16" />
						<frame x="16" y="32" w="16" h="16" />
						<frame x="32" y="32" w="16" h="16" />
						<frame x="48" y="32" w="16" h="16" />
						<frame x="64" y="32" w="16" h="16" />
						<frame x="80" y="32" w="16" h="16" />
						<frame x="96" y="32" w="16" h="16" />
						<frame x="112" y="32" w="16" h="16" />
						<frame x="128" y="32" w="16" h="16" />
						<frame x="144" y="32" w="16" h="16" />
						<frame x="160" y="32" w="16" h="16" />
						<frame x="176" y="32" w="16" h="16" />
						<frame x="192" y="32" w="16" h="16" />
						<frame x="208" y="32" w="16" h="16" />
					</respawn>
				</animations>
			</player>
			<enemies>
				<skeleton w="16" h="16" life="5" damage="10" texture="Assets/Textures/Skeleton.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
						</idle>
						<dmg loop="false" speed="0.06">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="48" y="0" w="16" h="16" />
							<frame x="0" y="0" w="16" h="16" />
						</dmg>
						<attack loop="true" speed="0.20">
							<frame x="0" y="16" w="32" h="16" />
							<frame x="32" y="16" w="32" h="16" />
							<frame x="64" y="16" w="32" h="16" />
							<frame x="96" y="16" w="32" h="16" />
							<frame x="128" y="16" w="32" h="16" />
						</attack>
						<walk loop="true" speed="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</walk>
						<die loop="false" speed="0.20">
							<frame x="0" y="32" w="16" h="16" />
							<frame x="16" y="32" w="16" h="16" />
							<frame x="32" y="32" w="16" h="16" />
							<frame x="48" y="32" w="16" h="16" />
							<frame x="64" y="32" w="16" h="16" />
							<frame x="80" y="32" w="16" h="16" />
							<frame x="96" y="32" w="16" h="16" />
							<frame x="112" y="32" w="16" h="16" />
						</die>
					</animations>
				</skeleton>
				<skeletonArcher w="16" h="16" life="5" damage="15" texture="Assets/Textures/Skeleton.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="48" w="16" h="16" />
							<frame x="16" y="48" w="16" h="16" />
						</idle>
						<dmg loop="false" speed="0.06">
							<frame x="0" y="48" w="16" h="16" />
							<frame x="48" y="48" w="16" h="16" />
							<frame x="0" y="48" w="16" h="16" />
						</dmg>
						<attack loop="true" speed="0.20">
							<frame x="0" y="64" w="16" h="16" />
							<frame x="16" y="64" w="16" h="16" />
							<frame x="32" y="64" w="16" h="16" />
						</attack>
						<walk loop="true" speed="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</walk>
						<die loop="false" speed="0.20">
							<frame x="0" y="80" w="16" h="16" />
							<frame x="16" y="80" w="16" h="16" />
							<frame x="32" y="80" w="16" h="16" />
							<frame x="48" y="80" w="16" h="16" />
							<frame x="64" y="80" w="16" h="16" />
							<frame x="80" y="80" w="16" h="16" />
							<frame x="96" y="80" w="16" h="16" />
							<frame x="112" y="80" w="16" h="16" />
						</die>
					</animations>
				</skeletonArcher>
				<spider w="16" h="16" life="5" damage="10" texture="Assets/Textures/Cave.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="0" w="16" h="16" />
						</idle>
						<attack loop="true" speed="0.12">
							<frame x="0" y="16" w="16" h="16" />
							<frame x="16" y="16" w="16" h="16" />
							<frame x="32" y="16" w="16" h="16" />
						</attack>
						<dmg loop="false" speed="0.06">
							<frame x="0" y="48" w="16" h="16" />
						</dmg>
						<walk loop="true" speed="0.12">
							<frame x="0" y="16" w="16" h="16" />
							<frame x="16" y="16" w="16" h="16" />
							<frame x="32" y="16" w="16" h="16" />
						</walk>
						<die loop="false" speed="0.20">
							<frame x="0" y="32" w="16" h="16" />
							<frame x="16" y="32" w="16" h="16" />
							<frame x="32" y="32" w="16" h="16" />
							<frame x="48" y="32" w="16" h="16" />
							<frame x="64" y="32" w="16" h="16" />
							<frame x="80" y="32" w="16" h="16" />
						</die>
					</animations>
				</spider>
				<demon w="16" h="16" life="5" damage="10" texture="Assets/Textures/Mountain.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
						</idle>
						<dmg loop="false" speed="0.06">
							<frame x="0" y="48" w="16" h="16" />
						</dmg>
						<walk loop="true" speed="0.12">
							<frame x="0" y="16" w="16" h="16" />
							<frame x="16" y="16" w="16" h="16" />
							<frame x="32" y="16" w="16" h="16" />
						</walk>
						<die loop="false" speed="0.20">
							<frame x="0" y="32" w="16" h="16" />
							<frame x="16" y="32" w="16" h="16" />
							<frame x="32" y="32" w="16" h="16" />
							<frame x="48" y="32" w="16" h="16" />
							<frame x="64" y="32" w="16" h="16" />
							<frame x="80" y="32" w="16" h="16" />
							<frame x="96" y="32" w="16" h="16" />
							<frame x="112" y="32" w="16" h="16" />
							<frame x="128" y="32" w="16" h="16" />
							<frame x="144" y="32" w="16" h="16" />
							<frame x="160" y="32" w="16" h="16" />
							<frame x="176" y="32" w="16" h="16" />
							<frame x="192" y="32" w="16" h="16" />
							<frame x="208" y="32" w="16" h="16" />
							<frame x="224" y="32" w="16" h="16" />
							<frame x="240" y="32" w="16" h="16" />
						</die>
						<attack loop="true" speed="0.20">
							<frame x="0" y="16" w="32" h="16" />
							<frame x="32" y="16" w="32" h="16" />
							<frame x="64" y="16" w="32" h="16" />
							<frame x="96" y="16" w="32" h="16" />
						</attack>
					</animations>
				</demon>
			</enemies>
			<bosses>
				<bossMountain life="50" damage="5" texture="Assets/Textures/Boss.png" w="32" h="32">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
						</idle>
						<fly loop="true" speed="0.12">
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="64" y="32" w="32" h="32" />
							<frame x="96" y="32" w="32" h="32" />
							<frame x="128" y="32" w="32" h="32" />
							<frame x="160" y="32" w="32" h="32" />
						</fly>
						<summonFire loop="false" speed="0.25">
							<frame x="0" y="64" w="32" h="32" />
							<frame x="32" y="64" w="32" h="32" />
							<frame x="64" y="64" w="32" h="32" />
							<frame x="96" y="64" w="32" h="32" />
							<frame x="128" y="64" w="32" h="32" />
							<frame x="160" y="64" w="32" h="32" />
							<frame x="192" y="64" w="32" h="32" />
							<frame x="224" y="64" w="32" h="32" />
							<frame x="256" y="64" w="32" h="32" />
						</summonFire>
						<attackTrident loop="false" speed="0.25">
							<frame x="0" y="96" w="32" h="32" />
							<frame x="32" y="96" w="32" h="32" />
							<frame x="64" y="96" w="32" h="32" />
							<frame x="96" y="96" w="32" h="32" />
							<frame x="128" y="96" w="32" h="32" />
							<frame x="160" y="96" w="32" h="32" />
							<frame x="192" y="96" w="32" h="32" />
							<frame x="224" y="96" w="32" h="32" />
							<frame x="256" y="96" w="32" h="32" />
							<frame x="288" y="96" w="32" h="32" />
							<frame x="320" y="96" w="32" h="32" />
							<frame x="352" y="96" w="32" h="32" />
							<frame x="384" y="96" w="32" h="32" />
							<frame x="416" y="96" w="32" h="32" />
						</attackTrident>
						<dmg loop="false" speed="0.25">
							<frame x="0" y="128" w="32" h="32" />
						</dmg>
						<die loop="false" speed="0.25">
							<frame x="0" y="160" w="32" h="32" />
							<frame x="32" y="160" w="32" h="32" />
							<frame x="64" y="160" w="32" h="32" />
							<frame x="96" y="160" w="32" h="32" />
							<frame x="128" y="160" w="32" h="32" />
							<frame x="160" y="160" w="32" h="32" />
							<frame x="192" y="160" w="32" h="32" />
							<frame x="224" y="160" w="32" h="32" />
							<frame x="256" y="160" w="32" h="32" />
							<frame x="288" y="160" w="32" h="32" />
							<frame x="320" y="160" w="32" h="32" />
							<frame x="352" y="160" w="32" h="32" />
							<frame x="384" y="160" w="32" h="32" />
							<frame x="416" y="160" w="32" h="32" />
							<frame x="448" y="160" w="32" h="32" />
							<frame x="480" y="160" w="32" h="32" />
							<frame x="512" y="160" w="32" h="32" />
							<frame x="544" y="160" w="32" h="32" />
							<frame x="576" y="160" w="32" h="32" />
							<frame x="608" y="160" w="32" h="32" />
							<frame x="640" y="160" w="32" h="32" />
							<frame x="672" y="160" w="32" h="32" />
							<frame x="704" y="160" w="32" h="32" />
							<frame x="736" y="160" w="32" h="32" />
							<frame x="768" y="160" w="32" h="32" />
							<frame x="800" y="160" w="32" h="32" />
							<frame x="832" y="160" w="32" h="32" />
							<frame x="864" y="160" w="32" h="32" />
							<frame x="896" y="160" w="32" h="32" />
							<frame x="928" y="160" w="32" h="32" />
							<frame x="960" y="160" w="32" h="32" />
							<frame x="992" y="160" w="32" h="32" />
							<frame x="1024" y="160" w="32" h="32" />
							<frame x="1056" y="160" w="32" h="32" />
							<frame x="1088" y="160" w="32" h="32" />
							<frame x="1120" y="160" w="32" h="32" />
							<frame x="1152" y="160" w="32" h="32" />
							<frame x="1184" y="160" w="32" h="32" />
						</die>
					</animations>
				</bossMountain>
			</bosses>
			<merchant texture="Assets/Textures/Sprites.png" w="48" h="32">
				<animations>
					<idle loop="true" speed="0.06">
						<frame x="0" y="48" w="48" h="32" />
						<frame x="48" y="48" w="48" h="32" />
					</idle>
					<sell loop="true" speed="0.06">
						<frame x="96" y="48" w="48" h="32" />
					</sell>
				</animations>
			</merchant>
			<chest texture="Assets/Maps/tileset.png" w="16" h="16">
				<animations>
					<closed loop="true" speed="0.06">
						<frame x="112" y="96" w="16" h="16" />
					</closed>
					<open loop="false" speed="0.10">
						<frame x="128" y="96" w="16" h="16" />
						<frame x="144" y="96" w="16" h="16" />
						<frame x="160" y="96" w="16" h="16" />
					</open>
				</animations>
			</chest>
			<fireball damage="10" texture="Assets/Maps/Tileset.png" w="16" h="16">
				<animations>
					<idle loop="true" speed="0.12">
						<frame x="304" y="192" w="16" h="16" />
					</idle>
				</animations>
			</fireball>
			<arrow damage="2" texture="Assets/Maps/Tileset.png" w="16" h="16">
				<animations>
					<idle loop="true" speed="0.12">
						<frame x="240" y="192" w="16" h="16" />
						<frame x="256" y="192" w="16" h="16" />
					</idle>
				</animations>
			</arrow>
			<bossTrident damage="20" texture="Assets/Maps/Tileset.png" w="16" h="16">
				<animations>
					<idle loop="true" speed="0.12">
						<frame x="272" y="192" w="16" h="16" />
					</idle>
				</animations>
			</bossTrident>
			<fireShooter texture="Assets/Maps/Tileset.png" w="16" h="16">
				<animations>
					<idle loop="true" speed="0.12">
						<frame x="288" y="192" w="16" h="16" />
					</idle>
				</animations>
			</fireShooter>
			<doorCave texture="Assets/Maps/door.png" w="16" h="32">
				<animations>
					<idle loop="true" speed="0.12">
						<frame x="0" y="0" w="16" h="32" />
					</idle>
				</animations>
			</doorCave>
			<events>
				<event level="0">
					<npc npcType="0" name="fire" texture="Assets/Textures/fireAnim.png" level="0" x="848" y="576" w="32" h="32">
						<animations>
							<idle loop="true" speed="0.12">
								<frame x="0" y="0" w="32" h="32"/>
								<frame x="32" y="0" w="32" h="32"/>
								<frame x="64" y="0" w="32" h="32"/>
								<frame x="96" y="0" w="32" h="32"/>
								<frame x="128" y="0" w="32" h="32"/>
							</idle>
							<explosion loop="false" speed="0.12">
								<frame x="0" y="32" w="32" h="32"/>
								<frame x="32" y="32" w="32" h="32"/>
								<frame x="64" y="32" w="32" h="32"/>
							</explosion>
						</animations>
					</npc>
					<npc npcType="1" name="crow" texture="Assets/Textures/Sprites.png" level="0" x="272" y="208" w="16" h="16">
						<animations>
							<idle loop="true" speed="0.05">
								<frame x="32" y="80" w="16" h="16"/>
								<frame x="48" y="80" w="16" h="16"/>
							</idle>
						</animations>
						<dialogues>
							<dialogue character="1" text="Ah, espera un momento."/>
							<dialogue character="-1" text="Que?"/>
							<dialogue character="1" text="Aqui arriba."/>
							<dialogue character="-1" text="Quien eres tu?"/>
							<dialogue character="1" text="Solo un cuervo que puede detectar cuando alguien necesita ayuda."/>
							<dialogue character="1" text="Necesitaras algo para protegerte si no quieres que eso pase otra vez."/>
							<dialogue character="-1" text="Como sa-?"/>
							<dialogue character="1" text="Esto deberia ayudarte."/>
							<dialogue character="1" text="Perfecto, ahora podras atravesar todos los terrenos."/>
							<dialogue character="-1" text="Si, pero ... no se hacia donde ir."/>
							<dialogue character="-1" text="Estoy buscando algo ..."/>
							<dialogue character="-1" text="no se exactamente que."/>
							<dialogue character="-1" text="Se que es algo que tiene increibles propiedades."/>
							<dialogue character="1" text="Ah, podrias estar buscando una flor."/>
							<dialogue character="1" text="Era una leyenda en estas zonas sobre ella."/>
							<dialogue character="1" text="Nadie sabe exactamente que hace."/>
							<dialogue character="-1" text="Hm ..."/>
							<dialogue character="-1" text="Sabrias donde encontrarla?"/>
							<dialogue character="1" text="Por seguro, no. Podria estar en las cuevas? Los bosques?"/>
							<dialogue character="1" text="Tendras que explorar."/>
							<dialogue character="1" text="Seguro podras encontrar algun sitio para obtener mas recursos."/>
							<dialogue character="-1" text="Al menos es un punto de inicio."/>
							<dialogue character="-1" text="Gracias."/>
						</dialogues>
					</npc>
					<npc npcType="2" name="zera" texture="Assets/Textures/Sprites.png" level="0" x="2080" y="544" w="16" h="16">
						<animations>
							<idle loop="true" speed="0.05">
								<frame x="0" y="80" w="16" h="16"/>
								<frame x="16" y="80" w="16" h="16"/>
							</idle>
						</animations>
						<dialogues>
							<dialogue character="2" text="Oh? Ha desaparecido el hombre de huesos?"/>
							<dialogue character="2" text="Se puede explorar ahora?"/>
							<dialogue character="2" text="Ah! Hola!"/>
							<dialogue character="-1" text="Hola, que haces aqui fuera?"/>
							<dialogue character="2" text="Queria salir a jugar pero el hombre de huesos estaba bloqueando el camino."/>
							<dialogue character="2" text="Gracias por liberar el camino, por cierto!"/>
							<dialogue character="2" text="Tu quien eres ..? No creo que te haya visto antes."/>
							<dialogue character="-1" text="No, pensaria que no. No soy de por aqui."/>
							<dialogue character="-1" text="Soy Nyssa."/>
							<dialogue character="2" text="Hola Nyssa. No eres de aqui-?"/>
							<dialogue character="2" text="Oh! Eres un angel, verdad? Pareces un angel."/>
							<dialogue character="-1" text="Gracias."/>
							<dialogue character="-1" text="... sabes que ha pasado por aqui?"/>
							<dialogue character="2" text="Huh ..?"/>
							<dialogue character="2" text="Que quieres decir?"/>
							<dialogue character="-1" text="Me tengo que ir pero espero encontrarte otra vez, uh ..."/>
							<dialogue character="2" text="Zera. Espero verte otra vez tambien, Nyssa!"/>
						</dialogues>
					</npc>
					<npc npcType="4" name="armguy" texture="Assets/Textures/Sprites.png" level="0" x="1760" y="1072" w="16" h="16">
						<animations>
							<idle loop="true" speed="0.05">
								<frame x="0" y="112" w="16" h="16"/>
								<frame x="16" y="112" w="16" h="16"/>
							</idle>
						</animations>
						<dialogues>
							<dialogue character="-1" text="Ah! Que te ha pasado? Estas bien?"/>
							<dialogue character="4" text="Ah ... No me habia dado cuenta que estabas ahi ..."/>
							<dialogue character="-1" text="Quien- que te ha hecho esto ..?"/>
							<dialogue character="4" text="Algo ... no se que era ... una criatura."/>
							<dialogue character="4" text="Era enorme ..."/>
							<dialogue character="-1" text="Te ha atacado ..?"/>
							<dialogue character="4" text="Me ha mordido, si ..."/>
							<dialogue character="4" text="No se si siente el brazo ..."/>
							<dialogue character="-1" text="Me gustaria poder ayudar ..."/>
							<dialogue character="-1" text="Ah, tengo una idea!"/>
							<dialogue character="4" text="Oh ... Se siente mucho mejor ..."/>
							<dialogue character="4" text="Muchas gracias."/>
							<dialogue character="-1" text="De nada, espero te ayude."/>
							<dialogue character="4" text="Si ..."/>
							<dialogue character="4" text="Todo ha sido tan raro desde ..."/>
							<dialogue character="-1" text="..."/>
							<dialogue character="-1" text="Desde ..?"/>
							<dialogue character="4" text="Desde que llego el mago en capucha."/>
							<dialogue character="4" text="Creo que nadie lo ha visto desde entonces."/>
							<dialogue character="4" text="Pero nunca habia visto una criatura como la que me ataco ..."/>
							<dialogue character="4" text="Quien sabe que mas podria pasar?"/>
							<dialogue character="4" text="Ah ... De momento me enfocare en retomar mis fuerzas. Gracias."/>
							<dialogue character="-1" text="De nada ..."/>
							<dialogue character="-1" text="Elymas es un mago con capucha ..."/>
							<dialogue character="-1" text="Pero ..."/>
							<dialogue character="-1" text="No ... No, no podria ser ... El no haria esto ..."/>
							<dialogue character="-1" text="Tengo que encontrar lo que necesita para salvar este lugar."/>
						</dialogues>
					</npc>
				</event>
				<event level="1">
					<npc npcType="3" name="francesk" texture="Assets/Textures/Sprites.png" level="1" x="992" y="768" w="16" h="16">
						<animations>
							<idle loop="true" speed="0.05">
								<frame x="0" y="96" w="16" h="16"/>
								<frame x="16" y="96" w="16" h="16"/>
							</idle>
						</animations>
						<dialogues>
							<dialogue character="3" text="Mm ... Mhm ..."/>
							<dialogue character="-1" text="Hola ..?"/>
							<dialogue character="3" text="Ah! Hola."/>
							<dialogue character="3" text="Perdon estaba distraido."/>
							<dialogue character="-1" text="No pasa nada."/>
							<dialogue character="-1" text="Que haces aqui?"/>
							<dialogue character="3" text="Recolectando recursos."/>
							<dialogue character="3" text="Paso tiempo buscando recursos para llevar a mi pueblo."/>
							<dialogue character="3" text="Tu que haces aqui?"/>
							<dialogue character="-1" text="Ah, yo tambien estoy buscando algo."/>
							<dialogue character="3" text="Pues si necesitas algo, aqui estare."/>
							<dialogue character="-1" text="No piensas ... irte pronto ..?"/>
							<dialogue character="3" text="Nah, tiendo a pasar mucho tiempo aqui..."/>
						</dialogues>
					</npc>
				</event>
				<event level="2">
					<npc npcType="5" name="demon" texture="Assets/Textures/Sprites.png" level="2" x="1600" y="960" w="16" h="16">
						<animations>
							<idle loop="true" speed="0.05">
								<frame x="0" y="128" w="16" h="16"/>
								<frame x="16" y="128" w="16" h="16"/>
								<frame x="32" y="128" w="16" h="16"/>
							</idle>
						</animations>
						<dialogues>
							<dialogue character="5" text="Puedes pasar si quieres ..."/>
							<dialogue character="5" text="No te voy ha herir."/>
							<dialogue character="-1" text="..."/>
							<dialogue character="-1" text="Que haces aqui entonces?"/>
							<dialogue character="5" text="Observando."/>
							<dialogue character="-1" text="Ah ..."/>
							<dialogue character="-1" text="Realmente no me vas a pelear?"/>
							<dialogue character="5" text="No."/>
							<dialogue character="5" text="Me he dado cuenta que esto no es lo que quiero."/>
							<dialogue character="5" text="Solo veo como las cosas han empeorado desde que llegamos,"/>
							<dialogue character="5" text="desde que mi creador nos creo."/>
							<dialogue character="-1" text="Que quieres decir?"/>
							<dialogue character="5" text="Esta vista empeora cada dia ..."/>
							<dialogue character="5" text="No quiero que esto sea mi proposito."/>
							<dialogue character="5" text="Aunque no sea lo que mi creador quisiera."/>
							<dialogue character="5" text="Esto no es lo correcto."/>
							<dialogue character="-1" text="Y que haras ahora ..?"/>
							<dialogue character="5" text="Pues eso tendre que averiguarlo."/>
							<dialogue character="5" text="Pero sera mi camino."/>
							<dialogue character="-1" text="Pues ... Te deseo suerte encontrandolo."/>
						</dialogues>
					</npc>
				</event>
			</events>
		</entities>
	</scene>
</config>
