<?xml version="1.0"?>
<config>
	<engine>
		<title>Game Jam</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1920" height="1080" scale="4" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="true" />
	</window>
	<scene>
		<levels>
			<map path="Assets/Maps/" name="Level0.tmx" number="0" ix="73" iy="232" />
		</levels>
		<entities>
			<player dx="52" dy="175" dlevel="1" ix="89" iy="264" w="16" h="16" texture="Assets/Textures/playerAnimations.png">
				<animations>
					<idle loop="true" speed="0.06">
						<frame x="0" y="0" w="16" h="16" />
						<frame x="16" y="0" w="16" h="16" />
					</idle>
					<run loop="true" speed="0.05">
						<frame x="0" y="64" w="16" h="16" />
						<frame x="16" y="64" w="16" h="16" />
						<frame x="32" y="64" w="16" h="16" />
						<frame x="48" y="64" w="16" h="16" />
						<frame x="64" y="64" w="16" h="16" />
						<frame x="80" y="64" w="16" h="16" />
						<frame x="96" y="64" w="16" h="16" />
						<frame x="112" y="64" w="16" h="16" />
						<frame x="128" y="64" w="16" h="16" />
					</run>
					<shoot loop="false" speed="0.30">
						<frame x="0" y="80" w="16" h="16" />
						<frame x="16" y="80" w="16" h="16" />
						<frame x="32" y="80" w="16" h="16" />
						<frame x="48" y="80" w="16" h="16" />
						<frame x="64" y="80" w="16" h="16" />
						<frame x="80" y="80" w="16" h="16" />
						<frame x="96" y="80" w="16" h="16" />
						<frame x="112" y="80" w="16" h="16" />
						<frame x="128" y="80" w="16" h="16" />
						<frame x="144" y="80" w="16" h="16" />
						<frame x="160" y="80" w="16" h="16" />
						<frame x="176" y="80" w="16" h="16" />
						<frame x="192" y="80" w="16" h="16" />
					</shoot>
					<jump loop="false" speed="0.30">
						<frame x="0" y="96" w="16" h="16" />
						<frame x="16" y="96" w="16" h="16" />
						<frame x="32" y="96" w="16" h="16" />
						<frame x="48" y="96" w="16" h="16" />
						<frame x="64" y="96" w="16" h="16" />
						<frame x="80" y="96" w="16" h="16" />
						<frame x="96" y="96" w="16" h="16" />
						<frame x="112" y="96" w="16" h="16" />
						<frame x="128" y="96" w="16" h="16" />
						<frame x="144" y="96" w="16" h="16" />
						<frame x="160" y="96" w="16" h="16" />
						<frame x="176" y="96" w="16" h="16" />
						<frame x="192" y="96" w="16" h="16" />
					</jump>
					<dmg loop="false" speed="0.12">
						<frame x="0" y="16" w="16" h="16" />
						<frame x="16" y="16" w="16" h="16" />
						<frame x="32" y="16" w="16" h="16" />
					</dmg>
					<die loop="false" speed="0.12">
						<frame x="0" y="48" w="16" h="16" />
						<frame x="16" y="48" w="16" h="16" />
						<frame x="32" y="48" w="16" h="16" />
						<frame x="48" y="48" w="16" h="16" />
						<frame x="64" y="48" w="16" h="16" />
						<frame x="80" y="48" w="16" h="16" />
						<frame x="96" y="48" w="16" h="16" />
						<frame x="112" y="48" w="16" h="16" />
						<frame x="128" y="48" w="16" h="16" />
						<frame x="144" y="48" w="16" h="16" />
						<frame x="160" y="48" w="16" h="16" />
						<frame x="176" y="48" w="16" h="16" />
						<frame x="192" y="48" w="16" h="16" />
					</die>
					<respawn loop ="false" speed="0.12">
						<frame x="0" y="32" w="16" h="16" />
						<frame x="16" y="32" w="16" h="16" />
						<frame x="32" y="32" w="16" h="16" />
						<frame x="48" y="32" w="16" h="16" />
						<frame x="64" y="32" w="16" h="16" />
						<frame x="80" y="32" w="16" h="16" />
						<frame x="96" y="32" w="16" h="16" />
						<frame x="112" y="32" w="16" h="16" />
						<frame x="128" y="32" w="16" h="16" />
						<frame x="144" y="32" w="16" h="16" />
						<frame x="160" y="32" w="16" h="16" />
						<frame x="176" y="32" w="16" h="16" />
						<frame x="192" y="32" w="16" h="16" />
						<frame x="208" y="32" w="16" h="16" />
					</respawn>
				</animations>
			</player>
			<enemies>
				<skeleton w="16" h="16" texture="Assets/Textures/Skeleton.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="0" w="16" h="16" />
							<frame x="16" y="0" w="16" h="16" />
						</idle>
						<dmg loop="false" speed="0.06">
							<frame x="64" y="64" w="16" h="32" />
						</dmg>
						<attack loop="true" speed="0.20">
							<frame x="0" y="16" w="32" h="16" />
							<frame x="32" y="16" w="32" h="16" />
							<frame x="64" y="16" w="32" h="16" />
							<frame x="96" y="16" w="32" h="16" />
							<frame x="128" y="16" w="32" h="16" />
						</attack>
						<walk loop="true" speed="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</walk>
						<die loop="false" speed="0.20">
							<frame x="0" y="32" w="16" h="16" />
							<frame x="16" y="32" w="16" h="16" />
							<frame x="32" y="32" w="16" h="16" />
							<frame x="48" y="32" w="16" h="16" />
							<frame x="64" y="32" w="16" h="16" />
							<frame x="80" y="32" w="16" h="16" />
							<frame x="96" y="32" w="16" h="16" />
							<frame x="112" y="32" w="16" h="16" />
						</die>
					</animations>
				</skeleton>
				<skeletonArcher w="16" h="16" texture="Assets/Textures/Skeleton.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.06">
							<frame x="0" y="48" w="16" h="16" />
							<frame x="16" y="48" w="16" h="16" />
						</idle>
						<dmg loop="false" speed="0.06">
							<frame x="64" y="64" w="16" h="16" />
						</dmg>
						<attack loop="true" speed="0.20">
							<frame x="0" y="64" w="16" h="16" />
							<frame x="16" y="64" w="16" h="16" />
							<frame x="32" y="64" w="16" h="16" />
						</attack>
						<walk loop="true" speed="0.12">
							<frame x="0" y="64" w="16" h="32" />
							<frame x="16" y="64" w="16" h="32" />
							<frame x="32" y="64" w="16" h="32" />
							<frame x="48" y="64" w="16" h="32" />
						</walk>
						<die loop="false" speed="0.20">
							<frame x="0" y="80" w="16" h="16" />
							<frame x="16" y="80" w="16" h="16" />
							<frame x="32" y="80" w="16" h="16" />
							<frame x="48" y="80" w="16" h="16" />
							<frame x="64" y="80" w="16" h="16" />
							<frame x="80" y="80" w="16" h="16" />
							<frame x="96" y="80" w="16" h="16" />
							<frame x="112" y="80" w="16" h="16" />
						</die>
					</animations>
				</skeletonArcher>
			</enemies>
			<merchant texture="Assets/Textures/Sprites.png" w="48" h="32">
				<animations>
					<idle loop="true" speed="0.06">
						<frame x="0" y="48" w="48" h="32" />
						<frame x="48" y="48" w="48" h="32" />
					</idle>
					<sell loop="true" speed="0.06">
						<frame x="96" y="48" w="48" h="32" />
					</sell>
				</animations>
			</merchant>
			<chest texture="Assets/Maps/tileset.png" w="16" h="16">
				<animations>
					<closed loop="true" speed="0.06">
						<frame x="112" y="96" w="16" h="16" />
					</closed>
					<open loop="false" speed="0.10">
						<frame x="128" y="96" w="16" h="16" />
						<frame x="144" y="96" w="16" h="16" />
						<frame x="160" y="96" w="16" h="16" />
					</open>
				</animations>
			</chest>
			<fireball texture="Assets/Maps/Tileset.png" w="16" h="16">
				<animations>
					<idle loop="true" speed="0.12">
						<frame x="240" y="176" w="16" h="16" />
						<frame x="256" y="176" w="16" h="16" />
					</idle>
				</animations>
			</fireball>
			<arrow texture="Assets/Maps/Tileset.png" w="16" h="16">
				<animations>
					<idle loop="true" speed="0.12">
						<frame x="240" y="192" w="16" h="16" />
						<frame x="256" y="192" w="16" h="16" />
					</idle>
				</animations>
			</arrow>
		</entities>
	</scene>
</config>
